<header>

    <strong><h1>Preguntas</h1></strong>
    <p>Nos interesa saber un poco mas de ti</p>
</header><br>

<div class="container">
    <section id="p0">
        <h3>3)- ¿En que estas interesado?</h3>
        <label>
            <input type="radio" value="1" name="p0"> Lavado
        </label>
        <label>
            <input type="radio" value="2" name="p0"> Refrigeracion
        </label>
        <label>
            <input type="radio" value="3" name="p0"> Cocina
        </label>
    </section><br>

    <section id="p1">
        <h3>1)- ¿De que tamaño es tu vivienda?</h3>
        <label>
            <input type="radio" value="1" name="p1"> 0 - 65m²
        </label>
        <label>
            <input type="radio" value="2" name="p1"> 66 - 100m²
        </label>
        <label>
            <input type="radio" value="3" name="p1"> 101 - 140m²
        </label>
        <label>
            <input type="radio" value="4" name="p1"> Mas de 140m²
        </label>
    </section><br>

    <section id="p2">
        <h3>2)- ¿Cuantos integrantes hay en tu hogar?</h3>
        <label>
            <input type="radio" value="1" name="p2"> 1
        </label>
        <label>
            <input type="radio" value="2" name="p2"> 2
        </label>
        <label>
            <input type="radio" value="3" name="p2"> 3
        </label>
        <label>
            <input type="radio" value="4" name="p2"> 4
        </label>
        <label>
            <input type="radio" value="5" name="p2"> Mas de 4
        </label>
    </section><br>

    <section id="p3">
        <h3>¡Anota tu presupuesto!</h3>
        <label>
            <input type="radio" value="1" name="p3"> 500.000 - 1.000.0000
        </label>
        <label>
            <input type="radio" value="2" name="p3"> 1.000.000 - 1.500.000
        </label>
        <label>
            <input type="radio" value="3" name="p3"> 2.000.000 2.500.000
        </label>
        <label>
            <input type="radio" value="4" name="p3"> mas de 2.500.000
        </label>
    </section><br>


    <div class="caja">    
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                para dar permiso al tratamiento de datos porfavor marcar la casilla para poder seguir con el proceso
            </label>
        </div>
    </div><br>

    <input type="submit" class="fadeIn fourth" value="Guardar datos" >
</div>
