<div class="caja">
    <header>
        <h1>Resultados de los datos obtenidos</h1>
        <p>esto es lo que creemos que te podria interesar</p>
    </header><br>

    <label class="text">Estos son los productos que le recomendamos para que compre con nuestra tienda: </label><br>

    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <div class="wrapper fadeInDown">
            
                    <div class="fadeIn first">
                        <img src="../../assets/logo-Principal.png" id="icon" alt="User Icon" />
                    </div>
                    <h6>Datos</h6>

                    <form>
                        <input type="text" class="fadeIn second" name="name" placeholder="Nombre">
                        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Correo">
                        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Celular">

                    </form>
                
            </div> 
            <div class="btn-guardar">
                <input type="submit" class="fadeIn fourth" value="Guardar" >
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div><br>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img3.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/concierto.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img.jpeg" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div><br>

    <label class="text">Para poder seguir con nuestro proceso, te pedimos que porfavor llenes algunos campos que solicitamos los cuales no te quitaran mucho tiempo</label>

    <div class="boton-modal">
        <label for="btn-modal">
        Agregar datos
        </label>
    </div>

</div>