<div class="caja">
    <header>

        <strong><h1>Para ponerse en contacto con nuestros asesores</h1></strong>
        <p>Estos datos son para que se ponga en contacto con nosotros y pueda verificar el cupo de su credito</p>
    </header><br><br><br><br><br>

    <footer>
        <div class="footer-content">
            <p>Debe de hacer click para ponerse en contanco con nuestros asesores</p><br><br><br><br><br><br>
            
            <div class="wrapper">
                <ul>
                    <li class="whatsapp"><a href="wa.link/cibzw7"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom"><br>
            <p>Otras de nuestras redes a las que se puede comunicar</p><br>
            <div class="footer-content">
                <div class="iconos">
                    <ul>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
                        <li class="instagram"><a href="#"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                        <li class="google"><a href="#"><i class="fa fa-google fa-3x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div><br>
        </div>
    </footer>
</div>